* {
  margin: 0;
  padding: 0;
}

@import url("./header.css");
@import url("./about.css");
@import url("./skills.css");
@import url("./portfolio.css");
@import url("./contacts.css");

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/Gilroy-Bold.ttf") format("ttf"),
    url("./fonts/Gilroy-Medium.woff") format("woff"),
    url("./fonts/Gilroy-Bold.woff2") format("woff2");
}

body {
  font-family: "Gilroy-Bold", sans-serif;
  background-color: #ffffff;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 33px 0 32px;
  border-bottom: 1px solid #828282;
}

.menu > li > a {
  color: #828282;
  text-decoration: none;
}

.menu > li > a:hover {
  color: black;
  transition: 0.5s;
}



.header {
  display: flex;
  justify-content: space-between;
  color: black;
  padding-bottom: 50px;
}

.header__logo {
  font-size: 47px;
  padding-top: 40px;
}
.header__info {
  font-family: "Gilroy-Medium", sans-serif;
  width: 156px;
  padding-top: 95px;
}

img {
  display: block;
}

header {
  padding-bottom: 104px;
}

.section__header {
  font-size: 34px;
  text-align: center;
}

.text {
  font-family: "Gilroy-Medium", sans-serif;
  width: 485px;
  margin: 0 auto;
  text-align: center;
}

.about > .container > .section__header {
  padding-top: 120px;
}

.about_text:nth-child(2) {
  padding-top: 18px;
}

.about_text:last-child {
  padding-bottom: 107px;
}

.about {
  background-color: #f2f2f2;
}

.skill_soft {
  display: flex;
  justify-content: space-between;
  padding-bottom: 110px;
}

.skills {
  padding-top: 91px;
}

.skills__text {
  padding: 69px 0 84px;
}

.skills__soft__text {
  font-size: 14px;
  color: #828282;
  padding: 24px 0 40px;
  text-align: center;
}

.skills__soft__box > :first-child {
  height: 90px;
  align-items: center;
}

.skills__soft__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 215px;
}

.skills__soft__box > :last-child {
  margin-top: auto;
}

.portfolio > .container > .section__header {
  padding: 113px 0 47px;
}

.portfolio > .container > img {
  padding-bottom: 95px;
}

.portfolio > .container > a > p {
  padding-bottom: 99px;
}

.portfolio > .container > a:last-child > p {
  padding-bottom: 96px;
}

.portfolio > .container > a {
  color: black;
}

.portfolio {
  background-color: #f6f6f6;
}

.contacts > .section__header {
  padding: 114px 0 20px;
}

.contacts__text {
  font-family: "Gilroy=Medium", sans-serif;
  font-size: 14px;
  color: #828282;
  text-align: center;
  padding: 46px 0 123px;
}

.contacts__icons {
  margin: 0 auto;
  display: flex;
  width: 342px;
  justify-content: space-between;
}

.contacts__btm {
  display: block;
  margin: 30px auto 86px;
  font-family: "Gilroy-Medium" sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: black;
  padding: 7px 30px 6px 28px;
  border-radius: 25px;
  border: 0;
  line-height: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.contacts__btm:active {
  transform: scale(0.9);
  transition: 0.5s;
}

.contacts__icons > img:nth-child(odd):hover {
  transform: rotate(45deg);
  transition: 0.5s;
}

.contacts__icons > img:nth-child(even):hover {
  transform: rotate(45deg);
  transition: 0.5s;
}

.contacts__icons > img {
  cursor: pointer;
  transition: 0.5s;
}

.burger {
  cursor: pointer;
}

.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 100%;
  transition: 0.7s ease-in-out;
}

.popUp-active {
  transform: translateX(-100%);
  transition: 0.7s ease-in;
}

.popup__back {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
}

.nav {
  padding-left: 26px;
  font-size: 34px;
}

.burger {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 68px;
  right: 10px;
  cursor: pointer;
  z-index: 999;
}

.hidden {
  opacity: 0;
}

.burger_top {
  content: "";
  width: 27px;
  height: 4px;
  background-color: black;
  position: absolute;
  top: 4px;
  transition: 0.5s;
}

.burger_bot {
  content: "";
  width: 27px;
  height: 4px;
  background-color: black;
  position: absolute;
  top: 20px;
  transition: 0.5s;
}

.close {
  width: 27px;
  height: 4px;
  background-color: #070707;
  position: absolute;
  top: 12px;
  transition: 0.5s;
}

.close_right {
  transform: rotate(45deg);
}

.close_left {
  transform: rotate(-45deg);
}
/*
.close::after {
  content: "";
  width: 27px;
  height: 4px;
  background-color: black;
  position: absolute;
  top: 12px;
  /*transform: rotate(-45deg);
  transition: 0.5s;
}*/

.close:hover::after,
.close:hover::before {
  background-color: #070707;
  transition: 0.5s;
}
/*
.close::before {
  content: "";
  width: 27px;
  height: 4px;
  background-color: black;
  position: absolute;
  top: 12px;
  /*transform: rotate(45deg);
  transition: 0.5s;
}*/

.nav > ul {
  list-style-type: none;
}

.nav > ul > li {
  padding-top: 68px;
}

.nav > ul > li > a {
  text-decoration: none;
  color: #828282;
  transition: 0.5s;
}

.nav > ul > li > a:hover {
  color: #070707;
  transition: 0.5s;
}

@media (max-width: 425px) {
  header {
    padding-bottom: 83px;
  }

  .container {
    width: 80%;
  }

  nav {
    display: none;
  }

  .header {
    flex-direction: column;
    padding: 0;
    position: relative;
  }

  .header__logo {
    padding-top: 60px;
  }

  .header__info {
    padding: 23px 0 37px;
  }

  .burger {
    display: block !important;
    position: absolute;
    right: 0;
    top: 68px;
  }

  .about > .container > .section__header {
    padding: 81px 0 30px;
  }

  .about__text:nth-child(2) {
    padding: 0;
  }

  .text {
    width: 316px;
  }

  .about__text:last-child {
    padding-bottom: 76px;
  }

  .skills {
    padding: 83px 0 99px;
  }

  .skills__text {
    padding: 50px 0 71px;
  }

  .skills__soft {
    flex-direction: column;
    gap: 82px;
    padding-bottom: 0;
  }

  .portfolio > .container > .section__header {
    padding: 81px 0 65px;
  }

  .portfolio > .container > img {
    width: 316px;
  }

  .portfolio > .container > a > p {
    padding-bottom: 78px;
  }

  .portfolio > .container a:last-child > p {
    padding-bottom: 81px;
  }

  .contacts > .section__header {
    padding: 82px 0 27px;
  }

  .contacts__btn {
    width: 316px;
    margin-bottom: 48px;
  }

  .contacts__icons {
    width: 316px;
  }

  .contacts__text {
    margin: 0 auto;
    padding: 49px 0 90px;
    width: 316px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 316px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }

  nav {
    display: none;
  }

  .header {
    flex-direction: column;
    padding: 0;
    position: relative;
  }

  .header__logo {
    padding-top: 60px;
  }

  .header__info {
    padding: 23px 0 37px;
  }

  .burger {
    display: block !important;
    position: absolute;
    right: 0;
    top: 68px;
  }

  picture > img {
    width: 100%;
  }

  .skill__soft {
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
  }

  .portfolio > .container > img {
    width: 100%;
  }
}

@media (min-width: 425px) and (max-width: 618px) {
  .text {
    width: 100%;
  }
}

@media (max-width: 1024px) {
}

@media (min-width: 829px) and (max-width: 1024px) {
  .skills__soft {
    gap: 160px;
  }
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/Gilroy-Medium.ttf") format("ttf"),
    url("./fonts/Gilroy-Medium.woff") format("woff"),
    url("./fonts/Gilroy-Medium.woff2") format("woff2");
}
